
<div class="container">
    <div>
        <h1>Subir Imagen</h1>
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="submit()" method="post" enctype="multipart/form-data">
            <div class="row mt-4">
                <input type="file" name="img" (change)="upload($event)">
            </div>
            <div *ngIf="res" class="row mt-4">
                <p>{{res}}</p>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <button class="btn btn-danger">Upload</button>
                </div>
                <div class="col">
                    <a [routerLink]="['/bucketDetail/',name]"><button class="btn btn-primary">Volver al Bucket</button></a>
                </div>
            </div>
            
        </form>
    </div>
    
</div>